<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/head-content :: head-content}"></div>
</head>
<body>
<nav th:replace="~{fragments/navigation :: nav}"></nav>
<br>
<div class="container row col-md-6 offset-md-3">
    <div class="card">
        <div class="card-header">
            <h4>Create new Service Order</h4>
        </div>
        <div class="card-body">
            <form action="#" method="post" role="form"
                  th:action="@{/service-order/save}" th:object="${serviceOrderDto}">
                <!--                <div class="form-group mb-3">-->
                <!--                    <label for="dateTimeDeadline" class="form-label">Deadline</label>-->
                <!--                    <input class="form-control" th:field="*{dateTimeDeadline}"-->
                <!--                           type="datetime-local" id="dateTimeDeadline" name="dateTimeDeadline"-->
                <!--                           placeholder="Enter deadline date-time">-->
                <!--                    <p th:if="${#fields.hasErrors('dateTimeDeadline')}" class="text-danger"-->
                <!--                       th:errors="*{dateTimeDeadline}"></p>-->
                <!--                </div>-->
                <!--                <div class="form-group mb-3">-->
                <!--                    <label for="customerId" class="form-label">Customer Id</label>-->
                <!--                    <input class="form-control" th:field="*{customerId}"-->
                <!--                           type="text" id="customerId" name="customerId" placeholder="Enter Customer Id">-->
                <!--                    <p th:if="${#fields.hasErrors('customerId')}" class="text-danger"-->
                <!--                       th:errors="*{customerId}"></p>-->
                <!--                </div>-->
                <div class="form-group mb-3">
                    <label for="customerId">Customer Id by name: </label>
                    <select name="customerId" id="customerId">
                        <option th:each="cust : ${customers}"
                                th:value="${cust.id}"
                                th:text="${cust.customerName}">Customer Name
                        </option>
                    </select>
                </div>

                <!--                <div class="form-group mb-3">-->
                <!--                    <label for="customerName" class="form-label">Customer Name</label>-->
                <!--                    <input class="form-control" th:field="*{customerName}"-->
                <!--                           type="text" id="customerName" name="customerName" placeholder="Enter Customer Name">-->
                <!--                    <p th:if="${#fields.hasErrors('customerName')}" class="text-danger"-->
                <!--                       th:errors="*{customerName}"></p>-->
                <!--                </div>-->
                <div class="form-group mb-3">
                    <label for="vehicleId">Vehicle Id by registration number: </label>
                    <select name="vehicleId" id="vehicleId">
                        <option th:each="vehicle : ${vehicles}"
                                th:value="${vehicle.id}"
                                th:text="${vehicle.registrationNumber}">Registration
                        </option>
                    </select>
                </div>
                <!--                <div >-->
                <!--                    <label for="vehicleId" class="form-label">Vehicle Id</label>-->
                <!--                    <input class="form-control" th:field="*{vehicleId}"-->
                <!--                           type="text" id="vehicleId" name="vehicleId" placeholder="Enter Vehicle Id">-->
                <!--                    <p th:if="${#fields.hasErrors('vehicleId')}" class="text-danger"-->
                <!--                       th:errors="*{vehicleId}"></p>-->
                <!--                </div>-->
                <!--                <div class="form-group mb-3">-->
                <!--                    <label for="vehicleRegistrationNumber" class="form-label">Vehicle Registration</label>-->
                <!--                    <input class="form-control" th:field="*{vehicleRegistrationNumber}"-->
                <!--                           type="text" id="vehicleRegistrationNumber" name="vehicleRegistrationNumber"-->
                <!--                           placeholder="Enter Vehicle Registration">-->
                <!--                    <p th:if="${#fields.hasErrors('vehicleRegistrationNumber')}" class="text-danger"-->
                <!--                       th:errors="*{vehicleRegistrationNumber}"></p>-->
                <!--                </div>-->
                <div class="form-group mb-3">
                    <p> Select Order Status:
                        <select name="OrderStatus">
                            <option
                                    th:each="orderStatus : ${T(com.service_order.model.enums.OrderStatus).values()}"
                                    th:text="${orderStatus.displayText}"
                                    th:value="${orderStatus.name()}"
                                    th:selected="${orderStatus.name() eq 'open'}">
                            </option>
                        </select>
                    </p>
                </div>
                <div class="form-group mb-3">
                    <p> Is Service Order Closed:
                        <select name="option">
                            <option value="true">True</option>
                            <option value="false">False</option>
                        </select>
                    </p>
                </div>
                <div class="form-group mb-3">
                    <label for="description1" class="form-label">Description 1</label>
                    <input class="form-control" th:field="*{description1}"
                           type="text" id="description1" name="description1" placeholder="Enter description">
                    <p th:if="${#fields.hasErrors('description1')}" class="text-danger"
                       th:errors="*{description1}"></p>
                </div>
                <div class="form-group mb-3">
                    <label for="description2" class="form-label">Description 2</label>
                    <input class="form-control" th:field="*{description2}"
                           type="text" id="description2" name="description2" placeholder="Optional description">
                    <p th:if="${#fields.hasErrors('description2')}" class="text-danger"
                       th:errors="*{description2}"></p>
                </div>
                <div class="form-group mb-3">
                    <label for="description3" class="form-label">Description 3</label>
                    <input class="form-control" th:field="*{description3}"
                           type="text" id="description3" name="description3" placeholder="Optional description">
                    <p th:if="${#fields.hasErrors('description3')}" class="text-danger"
                       th:errors="*{description3}"></p>
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary" type="submit">Save Service Order</button>
                </div>
            </form>
            <div class="mb-3">
                <h5>
                    <a th:href="@{/service-order/find-all}">Back to Service Orders List</a>
                </h5>
            </div>
            <div class="mb-3">
                <h5>
                    <a href="">Back to Home Page</a>
                </h5>
            </div>
        </div>
    </div>
</div>

</body>
</html>
